/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


<!--------------------------------------------------------->

body{

	font-size: 15px;
	color:  hsla(0, 0%, 100%, 0.75);
}

p{
	font-family: 'Lexend Deca';
	font-weight: 400;
	word-spacing: 1px;
	line-height: 30px;
	font-size: large;
	
}
button{
	width: 180px;
	padding: 20px;
	font-size: 20px;
	border-radius: 30px;
	margin-top: 50px;
	border: none;	
	
}

img{
	width: 30%;
}
#heading{
	
	font-family: "Big Shoulders Display";
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	padding-bottom: 30px;
	color: hsla(0, 0%, 100%, 0.75);
	
}

.container {
    /* width: 375px;
    height:auto; */
    background-color: #fff;
	margin:30px;
	padding-bottom: 100px;
	color: hsla(0, 0%, 100%, 0.75);
}


.sedan-card{	

	padding: 50px;
	padding-top:50px ;
	padding-bottom: 50px;
	background-color: hsl(31, 77%, 52%);
	border-start-start-radius: 20px;
	border-start-end-radius: 20px;
}
.sedanbutton{
	color: hsl(31, 77%, 52%);
}
.suv-card{
	padding: 50px;
	padding-top:50px ;
	padding-bottom: 50px;
	background-color: hsl(184, 100%, 22%);
}
.suvbutton{
	color:hsl(184, 100%, 22%);
}
.luxury-card{
	padding: 50px;
	padding-top:50px ;
	padding-bottom: 50px;
	background-color: hsl(179, 100%, 13%);
	border-end-start-radius: 20px;
	border-end-end-radius: 20px;
}
.luxurybutton{
	color: hsl(179, 100%, 13%);
}

.space{
	margin-bottom: 40px;
}

@media screen and (min-width:992px) {
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.container{
			
		box-sizing: border-box;
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.sedan-card{
		width:15%;
		height:45%;
		border-start-end-radius: 0;
		border-bottom-left-radius: 25px;
	}
	.suv-card{
		width:15%;
		height:45%;
	}
	.luxury-card{	
		width:15%;
		height:45%;
		border-start-end-radius: 25px;
		border-bottom-left-radius: 0;

	}
}

button:hover{
	background-color: rgba(0,0,0,0);
	color: white;
	border:2px solid white;
	cursor: pointer; 
}